
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Login Berhasil!</h1>
    <a asp-controller="User" asp-action="Logout">Logout</a>
</body>
</html>
