
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bar Chart</h4>
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row page-titles">
                        <div class="col-md-6 col-8">
                            <span data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">
                                <button class="btn pull-left hidden-sm-down btn-success" data-placement="right" data-toggle="tooltip" title="Add To Do List"><i class="mdi mdi-plus-circle"></i></button>
                            </span>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form>
                                                <div class="form-group" hidden="hidden">
                                                    <label for="Id">Id:</label>
                                                    <input type="text" class="form-control" id="Id" name="Id">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Name:</label>
                                                    <input type="text" class="form-control" id="name" placeholder="Enter To Do List" name="Name" required autocomplete="off">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="Save" onclick="Save();">Submit</button>
                                        <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="Update();">Update</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive m-t-40">
                        <table id="myTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Check</th>
                                    <th>To Do List</th>
                                    <th>Assign Date</th>
                                    <th>Done Date</th>
                                    <th>
                                        <select class="pull-left" id="filter">
                                            <option value="2">All</option>
                                            <option value="0">On Progress</option>
                                            <option value="1">Done</option>
                                        </select>
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="todolistbody" />
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
@section scripts{
    <script src="~/monster-admin-lite-master/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/monster-admin-lite-master/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/monster-admin-lite-master/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/monster-admin-lite-master/monster-html/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/monster-admin-lite-master/monster-html/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/monster-admin-lite-master/monster-html/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/monster-admin-lite-master/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/monster-admin-lite-master/monster-html/js/custom.min.js"></script>
    <script src="~/monster-admin-lite-master/monster-html/js/jquery.dataTables.min.js"></script>
    <script src="~/monster-admin-lite-master/monster-html/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/Login_v14/vendor/daterangepicker/moment.js"></script>
    <script src="~/Login_v14/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Script/moment-timezone-with-data.js"></script>
    <script src="~/Script/sweetalet2@9.js"></script>
    <script src="~/Script/raphael.min.js"></script>
    <script src="~/Script/morrisjs/morris.js"></script>
    <script src="~/Script/ToDoListScript.js"></script>
    <script src="~/monster-admin-lite-master/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(".filter").change(function () {
            var filterValue = $(this).val();
            var row = $('.row');

            row.hide()
            row.each(function (i, el) {
                if ($(el).attr('data-type') == filterValue) {
                    $(el).show();
                }
            })

        });
    </script>
}